#page-container {
	min-height: 100%;
	margin: 0 auto;
	max-width: 80em;
	padding: 0 1em;
	position: relative;
}

header {
	padding: .5em 0 1em;
	text-align: center;
}

footer {
	bottom: 0;
	height: 1.5em;
	position: absolute;
	text-align: center;
	width: 100%;
}

.footer-placeholder {
	height: 1.5em;
}

/****** VIEWS ******/

.home-view {
	& > * {
		// border: 1px solid black;
		display: inline-block;
		vertical-align: top;
	}

	main {
		width: 70%;
	}
}

.post-view {
	& > * {
		display: inline-block;
		vertical-align: top;
	}

	main {
		width: 70%;
	}
}

/****** COMPONENTS ******/

.sidebar {
	border-left: 1px solid #aaa;
	padding: 0 1em;
	width: 30%;
}

.blog-post {
	margin: 0 auto;
	text-align: center;
}

.vlog-post {
	margin: 0 auto;
	text-align: center;

	iframe {
		background-color: #ddd;
	}
}